<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>$title$ | Wunki</title>
    <meta name="author" content="Petar Radošević">
    <meta name="description" content="$summary$">
    <meta name="keywords" content="$keywords$">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/screen.css">
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/colorbox.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.ui.totop.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.anchorscroll.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/javascripts/wunki.ui.js"></script>

    <link rel="alternate" type="application/rss+xml" title="Wunki - A few bytes of Petar Radosevic" href="//www.wunki.org/rss.xml">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  </head>

  <body>
    <header class="home">
      <h1><a href="/" title="Go back to the homepage">Wunki</a></h1>
    </header>
    <div class="container">
    $body$
    <footer>
      <p><a href="/about.html" title="About">About</a> &middot;
      <a href="//twitter.com/wunki" title="My Twitter">Twitter</a> &middot;
      <a href="//github.com/wunki" title="My Github profile">Github</a> &middot;
      <a href="/rss.xml" title="Feed">RSS</a> &middot;
      <a href="/files/wunki.asc" title="My Pretty Good Privacy">PGP</a> &middot;
      <a href="mailto: &#112;&#101;&#116;&#097;&#114;&#064;&#119;&#117;&#110;&#107;&#105;&#046;&#111;&#114;&#103;" title"Send me an email">Email</a></p>
    </footer>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37049425-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
